<div class="container-fluid margin-container">

  <div *ngIf="!loading" class="row">
    <div class="col-md text-center">
      <span class="animated fadeIn">
        <i class="fas fa-spinner fa-5x fa-pulse"></i>
      </span>
    </div>
  </div>


  <div *ngIf="error" class="row">
    <div class="col-md">
      <div class="alert alert-danger" role="alert">
        {{error.message}}
      </div>
    </div>
  </div>


  <section *ngIf="loading" class="animated fadeIn">

    <div class="card">
      <div class="card-header">
        <p class="title-cards font-weight-bold text-capitalize">{{data?.expedientes?.descripcion}} <small>{{data?.expedientes?.expediente}}</small></p>
      </div>
      <div class="card-body">
        <h4 class="card-title">Expediente</h4>

        <div class="row">
          <div class="col-md">
            <p class="font-weight-bold">Abogado: <small>{{data?.expedientes?.abogados?.abogado}} - {{data?.expedientes?.abogados?.personas?.nombre}}
                {{data?.expedientes?.abogados?.personas?.apellido_paterno}} {{data?.expedientes?.abogados?.personas?.apellido_paterno}}</small></p>
          </div>
          <div class="col-md">
            <p class="font-weight-bold">Notario: <small>{{data?.expedientes?.notarios?.personas?.nombre}} {{data?.expedientes?.notarios?.personas?.apellido_paterno}}
                {{data?.expedientes?.notarios?.personas?.apellido_paterno}}
              </small></p>
          </div>
          <div class="col-md">
            <p class="font-weight-bold">Apertura: <small>{{data?.expedientes?.apertura}}</small></p>
          </div>
          <div class="col-md">
            <p class="font-weight-bold">Estimada: <small>{{data?.expedientes?.fecha_estimada}}</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <p class="font-weight-bold">Operacion: <small>{{data?.expedientes?.operacion}} - {{data?.expedientes?.operacion_descripcion}}</small></p>
          </div>
          <div class="col-md">
            <p class="font-weight-bold">Monto: <small>{{data?.expedientes?.monto}}</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <p class="font-weight-bold">Entidad: <small>{{data?.expedientes?.entidades?.Ent}} - {{data?.expedientes?.entidades?.abreviatura}}</small></p>
          </div>
          <div class="col-md">
            <p class="font-weight-bold">Banco: <small>{{data?.expedientes?.bancos?.banco}}</small></p>
          </div>
        </div>

        <hr>

        <h4 class="card-title">Escritura</h4>

        <div class="row">
          <div class="col-md">
            <p class="font-weight-bold">Escritura: <small>{{data?.expedientes?.escritura}}</small></p>
          </div>
          <div class="col-md">
            <p class="font-weight-bold">Libro: <small>{{data?.expedientes?.libro}}</small></p>
          </div>
          <div class="col-md">
            <p class="font-weight-bold">Pase: <small>{{data?.expedientes?.fecha_pase}}</small></p>
          </div>
          <div class="col-md">
            <p class="font-weight-bold">Firma: <small>{{data?.expedientes?.firma}}</small></p>
          </div>
        </div>

      </div>
    </div>

  </section>


</div>